<div class="container-fluid custom-bg-footer pt-3">
  <div class="row text-center">
    <h3 class="custom-font-white">Charly Vargas</h3>
  </div>
  <div class="row">
    <div class="d-flex align-items-center justify-content-center pb-3">
      <div class="mt-3">
        <i class="fab fa-github custom-icons-font-white fa-2x" title="Github"></i>
      </div>
      <div class="ms-4 mt-3">
        <a href="https://www.linkedin.com/in/charly-vargas-quispe-5515b4270/" target="_blank">
        <i class="fab fa-linkedin custom-icons-font-white fa-2x " title="LinkedIn"></i>
        </a>
      </div>
      <div class="ms-4 mt-3">
        <i class="fab fa-facebook custom-icons-font-white fa-2x " title="Facebook"></i>
      </div>
    </div>
  </div>
  <div class="row text-center mt-2 pb-3">
    <small class="custom-font-white">Copyright © 2024 All rights reserved.</small>
  </div>
</div>
