* {
  font-family: 'MyPoppins', sans-serif, sans-serif;
}

// personalized fonts
@font-face {
  font-family: 'MyPoppins';
  src: url('./assets/fonts/Poppins/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'MyPoppins';
  src: url('./assets/fonts/Poppins/Poppins-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'MyPoppins';
  src: url('./assets/fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'MyPoppins';
  src: url('./assets/fonts/Poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'MyPoppins';
  src: url('./assets/fonts/Poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MyPoppins';
  src: url('./assets/fonts/Poppins/Poppins-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'MyPoppins';
  src: url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'MyPoppins';
  src: url('./assets/fonts/Poppins/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'MyPoppins';
  src: url('./assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'MyPoppins';
  src: url('./assets/fonts/Poppins/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'MyPoppins';
  src: url('./assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'MyPoppins';
  src: url('./assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'MyPoppins';
  src: url('./assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MyPoppins';
  src: url('./assets/fonts/Poppins/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'MyPoppins';
  src: url('./assets/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'MyPoppins';
  src: url('./assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'MyPoppins';
  src: url('./assets/fonts/Poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'MyPoppins';
  src: url('./assets/fonts/Poppins/Poppins-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

// end personalized fonts
body {
  padding-top: 60px;
}

.custom-bg-header {
  background-color: #3f3f3f;
  //background-color: #252626; original
}

.custom-bg-footer {
  //background-color: #252626;
  background-color: #3f3f3f;
}

.custom-red-color {
  color: #CF1B1B;
}

.custom-red-color-contact {
  color: #CF1B1B;
}
.custom-red-color-noteworthy {
  color: #CF1B1B;
}
.custom-red-color-skills {
  color: #CF1B1B;
}

.custom-bg-black {
  background-color: #0f1010;
}

.custom-bg-lighter {
  background-color: #f6f5f1;
}

.custom-bg-red-color {
  background-color: #CF1B1B !important;
  color: #f6f5f1 !important;
}

.custom-font-white {
  color: #f6f5f1 !important;
  //#fdfdfd  white clean 1
}

.custom-font-dark {
  color: #0f1010;
  //#fdfdfd  white clean 1
}

.custom-icons-font-white {
  color: #f6f5f1 !important;
}

.custom-icons-font-white:hover {
  scale: 1.2;
  color: #CF1B1B !important;
}

.custom-icons-font-dark {
  color: #0f1010 !important;
}

.custom-icons-font-dark:hover {
  scale: 1.2;
  color: #CF1B1B !important;
}

.custom-icons-effect:hover {
  scale: 1.2;
}

canvas#defaultCanvas0.p5Canvas {
  width: 100%;
  height: 100%;
  display: block;
}

h2 {
  font-weight: 600 !important;
}
.btn-outline-danger:hover{
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #CF1B1B;
  --bs-btn-hover-border-color: #CF1B1B;
}
.custom-text-warning {
  color: #bb8724;
}
.invalid-input {
  border: 2px solid red;
  /* O puede cambiar el fondo en lugar del borde */
  /* background-color: #FFB6C1; */
}
.shake {
  animation: shake 0.4s; /* Agrega una animación llamada "shake" durante 0.5 segundos */
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 50%, 80% { transform: translateX(-5px); }
  40%, 60% { transform: translateX(5px); }
}
